# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Vite files
Frontend/dist/

# Backend uploads/temp
Backend/uploads/

# Optional
coverage/